<form id="ftype">
    <div id="tabs">
        <ul>
            <li><a href="#form">Formulairs</a></li>
            <li><a href="#templates">Templates</a></li>
            <li><a href="#admin">Admin</a></li>
        </ul>

        <div id="form">
            <div id="toolbar">
                <button id="new-property">New property</button>
            </div>
            <h2>Add Properties</h2>
            <table id="properties">
                <tr>
                    <th>Properties</th>
                    <th>Properties Details</th>
                </tr>
                

            </table>
        </div>
        <div id="templates">templates</div>
        <div id="admin">Problem while loading admin. Please refresh the page</div>

    </div>
</form>
