<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>

    {% load pagesmedia %}
    <script type="text/javascript" src="{{ relpath }}js/modernizr-1.5.min.js"></script>

    <link rel="stylesheet" href="{{ relpath }}css/flick/jquery-ui-1.8.5.custom.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="{{ relpath }}css/main.css" type="text/css" media="screen, projection" />
    {% block extrahead %}{% endblock %}
</head>

<body>
  
  {% block content %}{% endblock %}

  <script type="text/javascript" src="{{ relpath }}js/mustache.js"></script>
  <script type="text/javascript" src="{{ relpath }}js/json2.js"></script>
  <script type="text/javascript" src="{{ relpath }}js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="{{ relpath }}js/jquery-ui-1.8.5.custom.min.js"></script>
  <script type="text/javascript" src="{{ relpath }}js/underscore-min.js"></script>
  <script type="text/javascript" src="{{ relpath }}js/backbone-min.js"></script>
  {% block extrascripts %}{% endblock %}
</body>

</html>
