{% extends "pages/base_site.html" %}

{% block title%}Admin Index{% endblock %}

{% block content %}


{% endblock %}

{% block extrascripts %}
<script type="text/javascript"
    src="js/jquery.couch.js"></script>
<script type="text/javascript"
    src="js/pages.type.js"></script>
<script type="text/javascript"
    src="js/pages.js"></script>

<script>
    $(document).ready(function() {
        $.pages.app(function(app) {
            app.bind(/^$/, function(app) {
                
                var templates = app.ddoc.templates;
                var cnt = Mustache.to_html(templates.index, {});
                $("#content").html(cnt);
                $("#tabs").tabs();

                $("#toolbar a").button();
            });

            app.bind(/^newType/, $.pages.ResourceType);

            app.listen();
        });
    });
</script>
{% endblock %}
