body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2px;
    background: #FFF;

    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
	font-size: 10px;
}



html {
    height: 100%;
}


#pages {
    height: 100%;
    margin: 0;
    width: 100%;
    border: 0 none;
}

.pane {
    display:none;
}


/*
 *	PANES & CONTENT-DIVs
 */
.ui-layout-pane { /* all 'panes' */
    background:	#FFF; 

}
/* (scrolling) content-div inside pane allows for fixed header(s) and/or footer(s) */
.ui-layout-content {
    padding:	0px;
    position:	relative; /* contain floated or positioned elements */
    overflow:	none; /* add scrolling to content-div */
}

/*
*	RESIZER-BARS
*/
.ui-layout-resizer	{ /* all 'resizer-bars' */
    background:	#DDDDDD;
    border:	0;
}

/* NOTE: It looks best when 'hover' and 'dragging' are set to the same color,
    otherwise color shifts while dragging when bar can't keep up with mouse */
.ui-layout-resizer-open-hover ,	/* hover-color to 'resize' */
.ui-layout-resizer-dragging {	/* resizer beging 'dragging' */
    background: #DDDDDD;
}
.ui-layout-resizer-dragging {	/* CLONED resizer being dragged */
    border-left:  1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}
/* NOTE: Add a 'dragging-limit' color to provide visual feedback when resizer hits min/max size limits */
.ui-layout-resizer-dragging-limit {	/* CLONED resizer at min or max size-limit */
    background: #E1A4A4; /* red */
}

.ui-layout-resizer-closed-hover	{ /* hover-color to 'slide open' */
    background: #DDDDDD;
}

/* sliding resizer - add 'outside-border' to resizer on-hover 
 * this sample illustrates how to target specific panes and states */
.ui-layout-resizer-north-sliding-hover	{ border-bottom-width:	1px; }
.ui-layout-resizer-south-sliding-hover	{ border-top-width:		1px; }
.ui-layout-resizer-west-sliding-hover	{ border-right-width:	1px; }
    .ui-layout-resizer-east-sliding-hover	{ border-left-width:	1px; }


.ui-layout-resizer-west,
.ui-layout-resizer-open{
    width: 20px;
}    
/*
*	TOGGLER-BUTTONS
*/
.ui-layout-toggler {
    border: 1px solid #DDDDDD; /* match pane-border */
     background-color: #DDDDDD;
}

.ui-layout-toggler-west {
    background: url(../img/splitpane_handle.gif) no-repeat scroll 75% 50% #DDDDDD;
    cursor: col-resize;
    width: 10px;
}

/* hide the toggler-button when the pane is 'slid open' 
.ui-layout-resizer-sliding  ui-layout-toggler {
    display: none;
}*/
/*
*	style the text we put INSIDE the togglers
*/
.ui-layout-toggler .content {
    color:			#fff;
    font-size:		12px;
    font-weight:	bold;
    width:			100%;
    padding-bottom:	0.35ex; /* to 'vertically center' text inside text-span */
}

/*
*	COMMON LAYOUT PANE FORMATTING
*/
.pane ,				/* outer pane class */
.ui-layout-pane {	/* inner pane class */
    background-color: #FFF;

    padding: 0;/* alignment & padding is on the inner-divs */
    overflow: auto; /* will be auto-set to 'hidden' for any pane with a 'scrolling content div' */
}



