html, body {
    height: 100%;
}

#container,
#content,
#tabs { 
    height: 100%;
}

div.properties-w {
    width: 100%;
    overflow: auto;
    height: 100%;;
}

div.wproperties {
    width: 49%;

}

div.wproperties-details {
    width: 49%;
    float: right;
    position: relative;
    top: 0;
}

table#properties {
    width: 100%;
    border-spacing: 0.3em;
    z-index: 0;
}

#property-detail {
    font-size: 12px;
}
#property-detail label {
    width: 100%;
    display: block;
    float: left;
    font-size: 12px;

}

#properties tr {
    height: 16px;;
}


td.property {
    width: 50%;
    border-spacing: 0.3EM;
    font-size: 12px;
}

td.property:hover,
td.current {
    background: #eee;
    border-bottom: 1px solid #000; 
}

td.property:hover {
    background: #F4F4F4;
}

td.property div.ttool {
    display: block;
    position: relative;
    float:right;
    right:0;
    top: 0;
}

td.current {
    font-weight: bold;
}




.editbox {
    font-family:monospace;
}

.CodeMirror-line-numbers {
    background:#F4F4F4;
    border-right:1px dashed #DDDDDD;
    padding:5px 3px 0 0;
    width:30px;
}

.CodeMirror-line-numbers div {
    font-family:monospace;
    font-size:10pt;
    line-height:1.1em;
    color:#888;
    padding:0;
    text-align:right;    
}

div.template-toolbar {
    width: 100%;
    height: 30px;
    background: #F4F4F4;
    border-bottom: 1px solid #000;
    padding: 4px;
}

.template-toolbar span.tool-r {
    margin-left: 100px;
}

.template-toolbar select {
    margin-top: -4px;
    height: 24px;
}
button {
    height: 24px; 
    font-size: 16px;
}


.wrapper-edit {
    width: 49%;
    float: left;
}

.wrapper-preview {
    margin-left: 51%;
    background: #F4F4F4;
    height: 100%;
}

.wrapper {
    position: relative;

    height: 100%;
}

.tool {
    width: 100px;
    float: right;
    text-align: right;
}

.hidden { display: None };

#templates h4 {
    border-bottom: 1px dashed #ddd;
}

.wrapper-preview #preview-content {
    width: 100%;
    height: 100%;
    border: 0;
}



